

.profile{
    background-color: f1f1f1;
}

img.profile{
    object-fit: contain;
    width: 100%;
}

.profile p{
    padding: 20px 20px;
}

.profile-title{
    font-size: 30px;
    padding: 10px;
}

.profile-left{ 
    float: left;
    width: 40%;
}

.profile-right{
    width: 60%;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    
}


@media screen and (max-width: 600px) {

    .profile-left{
        width: 100%;
    }
    .profile-right{
        width: 100%;
        float: none;
    }
  }

